@import './colors/project_default';

// General ---------------
$main-heading     : $white;
$hamburger-bg     : rgba(color('default', 'dark-gray'), .87);
$section-dark-bg  : color('default', 'dark-blue');
$section-light-bg : color('default', 'light-gray');
// -----------------------

// Header ----------------

// -----------------------

// Nav-bar ---------------

// -----------------------

// Footer ----------------

// -----------------------

// Buttons ---------------
$btn-text       : $white;
$btn-primary    : color('state', 'blue');
$btn-shadow     : color('default', 'blue');
$btn-gradient-1 : $gradient-blue-1;
$btn-gradient-2 : $gradient-blue-2;
// -----------------------

// Tables ----------------

// -----------------------
