@import './colors/project_default';

// General ---------------
$main-heading: $white;
$hamburger-bg: rgba(color('default', 'dark-gray'), .87);
// -----------------------

// Header ---------------

// -----------------------

// Nav-bar ----------------

// -----------------------

// Footer ----------------

// -----------------------

// Buttons ---------------
$btn-text   : $white;
$btn-primary   : color('state', 'blue');
$btn-shadow: color('default', 'blue');
// -----------------------

// Tables ----------------

// -----------------------
