// General variables ----
$default-fonts  : -apple-system, BlinkMacSystemFont; // TODO need testing of font at windows system
$base-font-name : 'Roboto';
// ----------------------

// Fonts path -----------
$font-path      : '../fonts/';

$base-font-data : (
  // order of variables
  // 'font-folder', 'font-file-name', 'font-local-1', 'font-local-2', 'font-weight'
        1: ('roboto/', 'roboto-light', 'Roboto Light', 'Roboto-Light', 300),
        2: ('roboto/', 'roboto-regular', 'Roboto Regular', 'Roboto-Regular', 400),
        3: ('roboto/', 'roboto-medium', 'Roboto Medium', 'Roboto-Medium', 500),
        4: ('roboto/', 'roboto-bold', 'Roboto Bold', 'Roboto-Bold', 700)
);
// ----------------------

// Fonts family variables
$base-font-size   : 62.5%; // 10px
$base-font-family : $default-fonts, $base-font-name, sans-serif;

// Typography -----------
@function line_height($lh, $fs) { // lh - line-height, fs - font-size
  @return $lh / $fs; // value float or integer
}

$size-body: (
  null   : (1.4rem, line_height(24, 14)), // 'font-size', 'line-height'
  medium : (1.4rem, line_height(28, 14))
);

$size-h1: (
  null   : (1.6rem, line_height(20, 13.33333), 2rem), // 'font-size', 'line-height', 'margin-value'
  medium : (2.8rem, line_height(40, 28), 2.2rem),
  xlarge : (3.2rem, line_height(40, 32), 2.2rem)
);

$size-h2: (
  null   : (2rem, line_height(28, 20), 2rem),
  medium : (2.8rem, line_height(32, 32), 2.2rem),
  xlarge : 2.8rem
);

$size-h3: (
  null   : (1.8rem, line_height(24, 18), 2rem),
  medium : (1.8rem, line_height(24, 18), 2.2rem),
  xlarge : (2.4rem, line_height(32, 24), 2.2rem)
);

$size-h4: (
  null   : (1.8rem, line_height(24, 18), 2rem),
  medium : (1.8rem, line_height(24, 18), 2.2rem)
);

$size-h5: (
  null   : (1.4rem, line_height(24, 14), 2rem),
  medium : (1.4rem, line_height(24, 14), 2.2rem)
);

$size-h6: (
  null   : (1.4rem, line_height(20, 14), 2rem),
  medium : (1.4rem, line_height(22, 14), 2.2rem)
);

$size-q: (
  null   : (2rem, line_height(25, 20)),
  medium : (2.4rem, line_height(35, 24))
);
// ----------------------
