@import '../utilities/colors/project_default';
@import '../utilities/color';
@import '../utilities/fonts_var';

// Buttons style
.close { // popup close button
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  width: 100%;
  border: 0 none {
    radius: .2rem;
  };
  outline: none 0;
  font-family: $base-font-family;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: all 350ms ease-in-out 0s;
  user-select: none;

  &-primary {
    height: 4.8rem;
    line-height: 4.8rem;
    margin-top: 0.8rem;
    background-color: $btn-primary;
    color: $white;
    font-weight: 600;

    &:hover {
      background-color: lighten($btn-primary, 10%);
    }

    &.gradient {
      background: linear-gradient(180deg, $btn-gradient-1 0%, $btn-gradient-2 46.23%, $btn-gradient-1 100%);
    }
  }

  &-bordered {
    padding: 1.8rem 8.7rem 1.6rem;
    border: {
      width: .1rem;
      style: solid;
      color: $btn-primary;
    };
    background: $btn-primary;
    color: $white;

    @media (min-width: $large-screen) {
      border: {
        width: .1rem;
        style: solid;
        color: $btn-primary;
      };
      background: transparent;
      color: $btn-primary;

      &:hover {
        border-color: $btn-primary;
        background-color: $btn-primary;
        color: $white;
      }
    }
  }

  &-transparent {
    background-color: transparent;
  }

  &-banded {
    width: 100%;
    padding: 0;
    margin-bottom: 1.6rem;
    border: {
      width: .1rem;
      style: solid;
    };
    line-height: 4.8rem;
    letter-spacing: 0.2px;
    background-color: rgba(255,255,255,0.32);

    &.btn-telegram {
      border-color: $color-telegram;
      color: $color-telegram;
    }

    &.btn-viber {
      border-color: $color-viber;
      color: $color-viber;
    }

    &:hover {
      background-color: rgba(0,0,0,0.2)
    }

    @media (min-width: $medium-screen) {
      width: 25.8rem;

      &.btn-telegram {
        margin-right: 2rem;
      }
    }
  }

  &-text {
    padding: 0;
    background-color: transparent;
    color: $btn-primary;
    line-height: 2.8rem;

    &:hover {
      color: lighten($btn-primary, 10%);
    }
  }
}

.btn-field {
  display: flex;
  justify-content: center;
}
