@import '../utilities/color';
@import '../utilities/fonts_var';

// Buttons style
.close { // popup close button
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

.btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 1.8rem 2.6rem 1.6rem;
  border: 0 none {
    radius: .2rem;
  };
  outline: none 0;
  background-color: transparent;
  font-family: $base-font-family;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  transition: all 350ms ease-in-out 0s;
  user-select: none;

  &-primary {
    padding: 1.8rem 5.2rem 1.6rem;
    background-color: $btn-primary;
    color: $white;

    &:hover {
      background-color: lighten($btn-primary, 10%);
    }

    &.gradient {
      background: linear-gradient(180deg, $btn-gradient-1 0%, $btn-gradient-2 46.23%, $btn-gradient-1 100%);
    }
  }

  &-bordered {
    padding: 1.8rem 8.7rem 1.6rem;
    border: {
      width: .1rem;
      style: solid;
      color: $btn-primary;
    };
    color: $btn-primary;

    &:hover {
      border-color: $btn-primary;
      background-color: $btn-primary;
      color: $white;
    }
  }

  &-text {
    padding: 0;
    color: $btn-primary;
    line-height: 2.8rem;

    &:hover {
      color: lighten($btn-primary, 10%);
    }
  }
}

.btn-field {
  display: flex;
  justify-content: center;
}
