@import '../utilities/colors/project_default';
@import '../utilities/color';
@import '../utilities/fonts_var';

// Buttons style
.close { // popup close button
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  width: 100%;
  border: 0 none {
    radius: .2rem;
  };
  outline: none 0;
  font-family: $base-font-family;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: all 350ms ease-in-out 0s;
  user-select: none;

  &-primary,
  &-color-mobile,
  &-color-tablet  {
    background-color: $btn-primary;
    color: $white;

    &:hover {
      background-color: lighten($btn-primary, 10%);
    }
  }

  &-primary {
    height: 4rem;
    line-height: 4rem;
  }

  &-color-mobile {
    height: 4.8rem;
    line-height: 4.8rem;

    @media (min-width: $medium-screen) {
      background-color: transparent;
      color: $btn-primary;

      &:hover {
        background-color: $btn-primary;
        color: $white;
      }
    }
  }
  
  &-color-tablet {
    width: 13.8rem;
    height: 3.2rem;
    line-height: 3.2rem;

    @media (min-width: $large-screen) {
      background-color: transparent;
      color: $btn-primary;

      &:hover {
        background-color: $btn-primary;
        color: $white;
      }
    }
  }

  &-text {
    padding: 0;
    background-color: transparent;
    color: $btn-primary;
    line-height: 2.8rem;

    &:hover {
      color: lighten($btn-primary, 10%);
    }
  }

  &.gradient {
    line-height: 1;
    background: linear-gradient(180deg, $btn-gradient-1 0%, $btn-gradient-2 46.23%, $btn-gradient-1 100%);
  }
  

  &-bordered {
    width: 100%;
    height: 4.8rem;
    line-height: 4.8rem;
    background-color: transparent;
    color: $btn-primary;
    border: {
      width: .1rem;
      style: solid;
      color: transparent;
    };

    &:hover {
      border-color: $btn-primary;
    }
  }

  &-banded {
    width: 100%;
    padding: 0;
    margin-bottom: 1.6rem;
    border: {
      width: .1rem;
      style: solid;
    };
    line-height: 4rem;
    letter-spacing: 0.2px;
    background-color: rgba(255,255,255,0.32);

    &.btn-telegram {
      border-color: $color-telegram;
      color: $color-telegram;
    }

    &.btn-viber {
      border-color: $color-viber;
      color: $color-viber;
    }
  }  
}

.btn-field {
  display: flex;
  justify-content: center;
}
