@import '../utilities/variables';

// Footer fixed to bottom

html {
  position: relative;
  min-height: 100%;

  body {
    height: 100%;
    min-height: .1rem;
  }
}

.wrapper {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.bazz-widget i:last-child {
  padding-top: 20px;
  font-size: 10px;
  font-weight: 400;
}
