@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto/roboto-light.woff2") format("woff2"), url("../fonts/roboto/roboto-light.woff") format("woff"); }

@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/roboto/roboto-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-regular.woff") format("woff"); }

@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-bold.woff2") format("woff2"), url("../fonts/roboto/roboto-bold.woff") format("woff"); }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
    font-size: 100%;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }
  blockquote::before, blockquote::after,
  q::before,
  q::after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
input,
textarea,
select,
button {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline; }
  a:hover, a:active, a:focus,
  input:hover,
  input:active,
  input:focus,
  textarea:hover,
  textarea:active,
  textarea:focus,
  select:hover,
  select:active,
  select:focus,
  button:hover,
  button:active,
  button:focus {
    outline: 0; }

.container, .container-full {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }

html,
body {
  margin: 0;
  padding: 0; }

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table; }

.clearfix::after {
  clear: both; }

* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

body {
  background: #fff;
  color: rgba(20, 22, 34, 0.87); }

a {
  background-color: transparent;
  color: rgba(20, 22, 34, 0.87);
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 1.4rem;
  line-height: 1.71429;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-weight: 400; }
  @media (min-width: 768px) {
    body {
      font-size: 1.4rem;
      line-height: 2; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-weight: 500; }

h1 {
  font-size: 1.4rem;
  line-height: 1.42857;
  margin-top: 2.14286em;
  margin-bottom: 0.71429em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.8rem;
      line-height: 1.42857; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 2.8rem;
      line-height: 1.42857; } }
  @media (min-width: 768px) {
    h1 {
      margin-top: 1.17857em;
      margin-bottom: 0.39286em; } }
  @media (min-width: 1200px) {
    h1 {
      margin-top: 1.17857em;
      margin-bottom: 0.39286em; } }

h2 {
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 1.5em;
  margin-bottom: 0.5em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 2.8rem;
      line-height: 1; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 2.8rem; } }
  @media (min-width: 768px) {
    h2 {
      margin-top: 1.17857em;
      margin-bottom: 0.39286em; } }

h3 {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 1.875em;
  margin-bottom: 0.625em; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.8rem;
      line-height: 1.33333; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 2.4rem;
      line-height: 1.33333; } }
  @media (min-width: 768px) {
    h3 {
      margin-top: 1.83333em;
      margin-bottom: 0.61111em; } }
  @media (min-width: 1200px) {
    h3 {
      margin-top: 1.375em;
      margin-bottom: 0.45833em; } }

h4 {
  font-size: 1.8rem;
  line-height: 1.11111;
  margin-top: 1.66667em;
  margin-bottom: 0.55556em; }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.8rem;
      line-height: 1.22222; } }
  @media (min-width: 768px) {
    h4 {
      margin-top: 1.83333em;
      margin-bottom: 0.61111em; } }

h5 {
  font-size: 1.6rem;
  line-height: 1.25;
  margin-top: 1.875em;
  margin-bottom: 0.625em; }
  @media (min-width: 768px) {
    h5 {
      font-size: 1.6rem;
      line-height: 1.375; } }
  @media (min-width: 768px) {
    h5 {
      margin-top: 2.0625em;
      margin-bottom: 0.6875em; } }

h6 {
  font-size: 1.4rem;
  line-height: 1.42857;
  margin-top: 2.14286em;
  margin-bottom: 0.71429em; }
  @media (min-width: 768px) {
    h6 {
      font-size: 1.4rem;
      line-height: 1.57143; } }
  @media (min-width: 768px) {
    h6 {
      margin-top: 2.35714em;
      margin-bottom: 0.78571em; } }

q,
blockquote {
  font-size: 2rem;
  line-height: 1.25; }
  @media (min-width: 768px) {
    q,
    blockquote {
      font-size: 2.4rem;
      line-height: 1.45833; } }

@media print {
  body {
    font-size: 12pt; }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.25; }
  h1 {
    font-size: 36pt; }
  h2 {
    font-size: 24pt; }
  h3 {
    font-size: 18pt; }
  h4 {
    font-size: 14pt; }
  h5 {
    font-size: 12pt; }
  h6 {
    font-size: 10.5pt; }
  q,
  blockquote {
    font-size: 24pt;
    line-height: 1.4583; } }

.container, .container-full {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }

html,
body {
  margin: 0;
  padding: 0; }

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table; }

.clearfix::after {
  clear: both; }

@media (min-width: 544px) {
  .container {
    max-width: 100%; } }

@media (min-width: 768px) {
  .container {
    max-width: 77rem; } }

@media (min-width: 1024px) {
  .container {
    max-width: 102rem; } }

@media (min-width: 1200px) {
  .container {
    max-width: 108rem; } }

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1.2rem;
  margin-left: -1.2rem; }
  .row-reverse {
    flex-direction: row-reverse; }

.col {
  box-sizing: border-box;
  width: 100%;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }
  .col-reverse {
    flex-direction: column-reverse; }

@media (max-width: 1023px) {
  .container {
    padding-right: 2.4rem;
    padding-left: 2.4rem; }
    .container-full {
      padding-right: 2.4rem;
      padding-left: 2.4rem; }
  .row {
    margin-right: -0.96rem;
    margin-left: -0.96rem; }
  .col {
    padding-right: 0.96rem;
    padding-left: 0.96rem; } }

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.xs-offset-1 {
  margin-left: 8.33333%; }

.xs-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.xs-offset-2 {
  margin-left: 16.66667%; }

.xs-3 {
  flex-basis: 25%;
  max-width: 25%; }

.xs-offset-3 {
  margin-left: 25%; }

.xs-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.xs-offset-4 {
  margin-left: 33.33333%; }

.xs-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.xs-offset-5 {
  margin-left: 41.66667%; }

.xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

.xs-offset-6 {
  margin-left: 50%; }

.xs-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.xs-offset-7 {
  margin-left: 58.33333%; }

.xs-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.xs-offset-8 {
  margin-left: 66.66667%; }

.xs-9 {
  flex-basis: 75%;
  max-width: 75%; }

.xs-offset-9 {
  margin-left: 75%; }

.xs-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.xs-offset-10 {
  margin-left: 83.33333%; }

.xs-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.xs-offset-11 {
  margin-left: 91.66667%; }

.xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

.xs-offset-12 {
  margin-left: 100%; }

.start-xs {
  justify-content: flex-start;
  text-align: start; }

.end-xs {
  justify-content: flex-end;
  text-align: end; }

.around-xs {
  justify-content: space-around; }

.between-xs {
  justify-content: space-between; }

.center-xs {
  justify-content: center;
  text-align: center; }

.top-xs {
  align-items: flex-start; }

.middle-xs {
  align-items: center; }

.bottom-xs {
  align-items: flex-end; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media screen and (min-width: 544px) {
  .col-s {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .s-offset-0 {
    margin-left: 0; }
  .s-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .s-offset-1 {
    margin-left: 8.33333%; }
  .s-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .s-offset-2 {
    margin-left: 16.66667%; }
  .s-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .s-offset-3 {
    margin-left: 25%; }
  .s-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .s-offset-4 {
    margin-left: 33.33333%; }
  .s-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .s-offset-5 {
    margin-left: 41.66667%; }
  .s-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .s-offset-6 {
    margin-left: 50%; }
  .s-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .s-offset-7 {
    margin-left: 58.33333%; }
  .s-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .s-offset-8 {
    margin-left: 66.66667%; }
  .s-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .s-offset-9 {
    margin-left: 75%; }
  .s-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .s-offset-10 {
    margin-left: 83.33333%; }
  .s-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .s-offset-11 {
    margin-left: 91.66667%; }
  .s-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .s-offset-12 {
    margin-left: 100%; }
  .start-s {
    justify-content: flex-start;
    text-align: start; }
  .end-s {
    justify-content: flex-end;
    text-align: end; }
  .around-s {
    justify-content: space-around; }
  .between-s {
    justify-content: space-between; }
  .center-s {
    justify-content: center; }
  .top-s {
    align-items: flex-start; }
  .middle-s {
    align-items: center; }
  .bottom-s {
    align-items: flex-end; }
  .first-s {
    order: -1; }
  .last-s {
    order: 1; } }

@media screen and (min-width: 768px) {
  .col-m {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .m-offset-0 {
    margin-left: 0; }
  .m-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .m-offset-1 {
    margin-left: 8.33333%; }
  .m-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .m-offset-2 {
    margin-left: 16.66667%; }
  .m-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .m-offset-3 {
    margin-left: 25%; }
  .m-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .m-offset-4 {
    margin-left: 33.33333%; }
  .m-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .m-offset-5 {
    margin-left: 41.66667%; }
  .m-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .m-offset-6 {
    margin-left: 50%; }
  .m-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .m-offset-7 {
    margin-left: 58.33333%; }
  .m-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .m-offset-8 {
    margin-left: 66.66667%; }
  .m-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .m-offset-9 {
    margin-left: 75%; }
  .m-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .m-offset-10 {
    margin-left: 83.33333%; }
  .m-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .m-offset-11 {
    margin-left: 91.66667%; }
  .m-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .m-offset-12 {
    margin-left: 100%; }
  .start-m {
    justify-content: flex-start;
    text-align: start; }
  .end-m {
    justify-content: flex-end;
    text-align: end; }
  .around-m {
    justify-content: space-around; }
  .between-m {
    justify-content: space-between; }
  .center-m {
    justify-content: center; }
  .top-m {
    align-items: flex-start; }
  .middle-m {
    align-items: center; }
  .bottom-m {
    align-items: flex-end; }
  .first-m {
    order: -1; }
  .last-m {
    order: 1; } }

@media screen and (min-width: 1024px) {
  .col-l {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .l-offset-0 {
    margin-left: 0; }
  .l-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .l-offset-1 {
    margin-left: 8.33333%; }
  .l-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .l-offset-2 {
    margin-left: 16.66667%; }
  .l-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .l-offset-3 {
    margin-left: 25%; }
  .l-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .l-offset-4 {
    margin-left: 33.33333%; }
  .l-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .l-offset-5 {
    margin-left: 41.66667%; }
  .l-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .l-offset-6 {
    margin-left: 50%; }
  .l-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .l-offset-7 {
    margin-left: 58.33333%; }
  .l-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .l-offset-8 {
    margin-left: 66.66667%; }
  .l-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .l-offset-9 {
    margin-left: 75%; }
  .l-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .l-offset-10 {
    margin-left: 83.33333%; }
  .l-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .l-offset-11 {
    margin-left: 91.66667%; }
  .l-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .l-offset-12 {
    margin-left: 100%; }
  .start-l {
    justify-content: flex-start;
    text-align: start; }
  .end-l {
    justify-content: flex-end;
    text-align: end; }
  .around-l {
    justify-content: space-around; }
  .between-l {
    justify-content: space-between; }
  .center-l {
    justify-content: center; }
  .top-l {
    align-items: flex-start; }
  .middle-l {
    align-items: center; }
  .bottom-l {
    align-items: flex-end; }
  .first-l {
    order: -1; }
  .last-l {
    order: 1; } }

@media screen and (min-width: 1200px) {
  .col-xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .xl-offset-0 {
    margin-left: 0; }
  .xl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .xl-offset-1 {
    margin-left: 8.33333%; }
  .xl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .xl-offset-2 {
    margin-left: 16.66667%; }
  .xl-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .xl-offset-3 {
    margin-left: 25%; }
  .xl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .xl-offset-4 {
    margin-left: 33.33333%; }
  .xl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .xl-offset-5 {
    margin-left: 41.66667%; }
  .xl-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .xl-offset-6 {
    margin-left: 50%; }
  .xl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .xl-offset-7 {
    margin-left: 58.33333%; }
  .xl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .xl-offset-8 {
    margin-left: 66.66667%; }
  .xl-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .xl-offset-9 {
    margin-left: 75%; }
  .xl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .xl-offset-10 {
    margin-left: 83.33333%; }
  .xl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .xl-offset-11 {
    margin-left: 91.66667%; }
  .xl-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .xl-offset-12 {
    margin-left: 100%; }
  .start-xl {
    justify-content: flex-start;
    text-align: start; }
  .end-xl {
    justify-content: flex-end;
    text-align: end; }
  .around-xl {
    justify-content: space-around; }
  .between-xl {
    justify-content: space-between; }
  .center-xl {
    justify-content: center; }
  .top-xl {
    align-items: flex-start; }
  .middle-xl {
    align-items: center; }
  .bottom-xl {
    align-items: flex-end; }
  .first-xl {
    order: -1; }
  .last-xl {
    order: 1; } }

html {
  position: relative;
  min-height: 100%; }
  html body {
    height: 100%;
    min-height: .1rem;
    margin-bottom: 0; }
  @media (min-width: 544px) {
    html body {
      margin-bottom: 0; } }
  @media (min-width: 768px) {
    html body {
      margin-bottom: 0; } }
  @media (min-width: 1024px) {
    html body {
      margin-bottom: 0; } }
  @media (min-width: 1200px) {
    html body {
      margin-bottom: 0; } }

.wrapper {
  width: 100%; }

.overflow-hidden {
  overflow: hidden; }

input[type='tel'],
input[type='text'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='password'],
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  height: 4.8rem;
  padding: .6rem 1rem;
  border-width: 0;
  border-style: solid;
  border-color: #bdbdbd;
  border-radius: .2rem;
  font-weight: 400; }

textarea {
  resize: none; }

label {
  font-weight: 400; }

.close {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer; }

.btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 1.8rem 2.6rem 1.6rem;
  border: 0 none;
    border-radius: .2rem;
  outline: none 0;
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  transition: all 350ms ease-in-out 0s;
  user-select: none; }
  .btn-primary {
    padding: 1.8rem 5.2rem 1.6rem;
    background-color: #0069ff;
    color: #fff; }
    .btn-primary:hover {
      background-color: #3387ff; }
    .btn-primary.gradient {
      background: linear-gradient(180deg, #3490fe 0%, #0060e9 46.23%, #3490fe 100%); }
  .btn-text {
    padding: 0;
    color: #0069ff;
    line-height: 2.8rem; }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50rem;
  height: 50rem;
  transform: translate(-50%, -50%);
  z-index: 1050; }
  .popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1040; }
  .popup-wrap {
    height: 100%;
    border-width: .1rem;
    border-style: solid;
    border-color: #bdbdbd;
    background-color: #fff;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2), 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.24); }
  .popup-head {
    position: relative;
    height: 6.2rem;
    padding: 1.5rem;
    border-bottom-width: .1rem;
    border-bottom-style: solid;
    border-bottom-color: #bdbdbd; }
    .popup-head h3 {
      margin: 0;
      padding-right: 1.6rem; }
    .popup-head .close {
      position: absolute;
      top: 50%;
      right: 1.5rem;
      width: 1.6rem;
      height: 1.6rem;
      filter: alpha(opacity=20);
      opacity: .2;
      transform: translate(0, -50%); }
      .popup-head .close:hover {
        filter: alpha(opacity=80);
        opacity: .8; }
  .popup-body {
    height: calc(100% - 6.2rem - 6.2rem);
    margin-bottom: 6.2rem;
    padding: 1.5rem;
    overflow-y: auto; }
  .popup-foot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6.2rem;
    padding: 1.5rem;
    border-top-width: .1rem;
    border-top-style: solid;
    border-top-color: #bdbdbd; }

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5.6rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  z-index: 50; }
  .main-header .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }

.nav-wrap {
  position: fixed;
  display: none;
  top: 5.6rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2.2rem 2.8rem 4rem;
  background: rgba(255, 255, 255, 0.95);
  overflow-y: auto; }

.nav-list a, .nav-list button {
  display: block; }

.nav-list-item {
  margin-bottom: 2rem; }

.nav-list .main-item {
  display: block;
  margin-bottom: .4rem;
  padding: .4rem 0;
  border-bottom: .1rem solid #e7e7e7;
  font-size: 2rem;
  font-weight: 500; }

.sub-nav-list-item {
  padding: .4rem 0; }
  .sub-nav-list-item:hover {
    text-decoration: underline; }

@media (min-width: 768px) {
  .nav-wrap {
    padding: 4rem 9rem; }
  .nav-list-item {
    margin-bottom: 4rem; }
  .nav-list .main-item {
    margin-bottom: .8rem;
    padding: .8rem 0;
    font-size: 2.8rem; }
  .sub-nav-list-item {
    padding: .8rem 0;
    font-size: 1.8rem; } }

@media (min-width: 1024px) {
  .nav-wrap {
    position: static;
    display: block !important;
    padding: 0;
    background: transparent;
    overflow-y: inherit; }
  .nav-list {
    display: flex;
    align-items: center; }
    .nav-list-item {
      position: relative;
      margin: 0;
      padding: 1.4rem .8rem;
      cursor: pointer; }
      .nav-list-item:hover .sub-nav-list {
        opacity: 1;
        visibility: visible; }
    .nav-list .main-item {
      display: block;
      margin-bottom: 0;
      padding: 0;
      border-bottom: 0;
      font-size: 1.4rem;
      font-weight: 400; }
    .nav-list .sub-nav-list {
      position: absolute;
      top: 5.6rem;
      left: -.8rem;
      padding: .8rem 1.6rem;
      border-radius: 0 0 .4rem .4rem;
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
      opacity: 0;
      visibility: hidden;
      transition: all 200ms;
      z-index: 1; }
      .nav-list .sub-nav-list-item {
        padding-top: 0;
        font-size: 1.4rem;
        line-height: 2.4rem;
        white-space: nowrap; } }

.section {
  position: relative;
  padding: 3.2rem 0 1.6rem;
  background: #f7f7f7;
  z-index: 1; }
  .section .section-heading {
    position: relative;
    margin: 0 0 3.2rem;
    text-align: center; }
    .section .section-heading::after {
      position: absolute;
      content: '';
      top: calc(100% + 1.6rem);
      left: 50%;
      width: 12rem;
      height: .1rem;
      background-color: rgba(20, 22, 34, 0.87);
      transform: translate(-50%, 0); }
  .section .arrow-down {
    width: 2.4rem;
    margin: 0 auto;
    opacity: 0;
    cursor: pointer;
    animation: blink 2s linear infinite 5s; }
  .section .btn-field {
    display: flex;
    justify-content: center; }

@media (min-width: 768px) {
  .section {
    padding: 8rem 0 1.6rem; }
    .section .section-heading {
      margin: 0 0 5rem; } }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 0; }
  @media (min-width: 544px) {
    .main-footer {
      min-height: 0; } }
  @media (min-width: 768px) {
    .main-footer {
      min-height: 0; } }
  @media (min-width: 1024px) {
    .main-footer {
      min-height: 0; } }
  @media (min-width: 1200px) {
    .main-footer {
      min-height: 0; } }

.hamburger {
  display: inline-block;
  padding: .4rem;
  font-size: 0;
  cursor: pointer;
  transition: opacity, filter .15s linear; }
  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 1.8rem;
    height: 1.4rem; }
  .hamburger-inner {
    position: absolute;
    display: block;
    top: 0;
    width: 1.8rem;
    height: .2rem;
    background-color: rgba(20, 22, 34, 0.87);
    transition: background-color 0s .13s linear; }
    .hamburger-inner::before, .hamburger-inner::after {
      position: absolute;
      content: '';
      display: block;
      width: inherit;
      height: inherit;
      background-color: rgba(20, 22, 34, 0.87);
      transition: transform .15s ease; }
    .hamburger-inner::before {
      top: .6rem;
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger-inner::after {
      top: 1.2rem;
      bottom: -1rem;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger.is-active .hamburger-inner {
    background-color: transparent;
    transition-delay: .22s; }
    .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
      top: -.4rem; }
    .hamburger.is-active .hamburger-inner:before {
      transform: translate3d(0, 1rem, 0) rotate(45deg);
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger.is-active .hamburger-inner:after {
      transform: translate3d(0, 1rem, 0) rotate(-45deg);
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

.first-screen {
  height: 33.2rem;
  margin-top: 5.6rem;
  padding: 1.8rem 0 1.6rem;
  background-image: url("../img/first-screen-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .first-screen .main-heading {
    margin: 0;
    color: #fff;
    font-weight: 600;
    text-align: center; }
  .first-screen .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%; }

@media (min-width: 768px) {
  .first-screen {
    height: calc(100vh - 5.6rem); } }

@media (min-width: 1024px) {
  .first-screen {
    padding: 6.4rem 0 1.6rem;
    background-image: url("../img/first-screen-bg.jpg"); }
    .first-screen .main-heading {
      padding: 0 16rem; } }

.about {
  background: #30323E;
  color: rgba(255, 255, 255, 0.87); }
  .about iframe {
    width: 100%;
    height: 100%; }
  .about .section-heading::after {
    background-color: rgba(255, 255, 255, 0.87); }
  .about .video-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 3.2rem;
    padding-bottom: 56.21%; }
    .about .video-wrapper .video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .about .description {
    color: rgba(255, 255, 255, 0.8); }

@media (min-width: 768px) and (max-width: 1024px) {
  .about .container {
    padding-right: 8.8rem;
    padding-left: 8.8rem; } }

@media (min-width: 768px) {
  .about .description {
    font-size: 1.8rem; } }

.call-me-block .heading {
  margin: 4.2rem 0 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  text-transform: uppercase; }

.call-me-block .input-field {
  margin-bottom: 1.6rem; }

.call-me-block .btn {
  width: 100%;
  margin-bottom: 1.6rem; }

@media (min-width: 768px) {
  .call-me-block {
    margin-bottom: 3.2rem; }
    .call-me-block .call-me {
      display: flex;
      max-width: 60rem;
      margin: 0 auto; }
    .call-me-block .input-field {
      flex-grow: 1;
      margin-right: 1.6rem; }
    .call-me-block .btn {
      width: auto; } }

.feature {
  margin-bottom: 4.8rem; }
  .feature-heading {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem; }
    .feature-heading .icon-block {
      margin-right: .8rem; }
      .feature-heading .icon-block img {
        display: block; }
    .feature-heading .heading {
      margin: 0;
      font-weight: 400; }

.hide {
  display: none !important; }
  @media (max-width: 543px) {
    .hide-xs {
      display: none !important; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .hide-s {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .hide-m {
      display: none !important; } }
  @media (min-width: 1024px) and (max-width: 1199px) {
    .hide-l {
      display: none !important; } }
  @media (min-width: 1200px) {
    .hide-xl {
      display: none !important; } }

.show {
  display: block !important; }
  .show-xs, .show-s, .show-m, .show-l, .show-xl {
    display: none !important; }
  @media (max-width: 543px) {
    .show-xs {
      display: block !important; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .show-s {
      display: block !important; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .show-m {
      display: block !important; } }
  @media (min-width: 1024px) and (max-width: 1199px) {
    .show-l {
      display: block !important; } }
  @media (min-width: 1200px) {
    .show-xl {
      display: block !important; } }

.hidden {
  opacity: 0 !important;
  visibility: hidden !important; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.overflow-hidden {
  overflow: hidden !important; }

.overflow-auto {
  overflow: auto !important; }

/*# sourceMappingURL=main.css.map */
