.div {
  font-size: 100%; }

.selectric-wrapper {
  position: relative;
  cursor: pointer; }

.selectric-responsive {
  width: 100%; }

.selectric {
  border: 1px solid #DDD;
  border-radius: 0px;
  background: #F8F8F8;
  position: relative;
  overflow: hidden; }

.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 38px 0 10px;
  font-size: 12px;
  line-height: 38px;
  color: #444;
  height: 38px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background-color: #F8f8f8;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial; }

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
  border-bottom: none; }

.selectric-focus .selectric {
  border-color: #aaaaaa; }

.selectric-hover .selectric {
  border-color: #c4c4c4; }

.selectric-hover .selectric .button {
  color: #a2a2a2; }

.selectric-hover .selectric .button:after {
  border-top-color: #a2a2a2; }

.selectric-open {
  z-index: 9999; }

.selectric-open .selectric {
  border-color: #c4c4c4; }

.selectric-open .selectric-items {
  display: block; }

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0; }

.selectric-hide-select select {
  position: absolute;
  left: -100%; }

.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10; }

.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0; }

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important; }

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important; }

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F8F8F8;
  border: 1px solid #c4c4c4;
  z-index: -1;
  box-shadow: 0 0 10px -6px; }

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto; }

.selectric-above .selectric-items {
  top: auto;
  bottom: 100%; }

.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px; }

.selectric-items li {
  display: block;
  padding: 10px;
  color: #666;
  cursor: pointer; }

.selectric-items li.selected {
  background: #E0E0E0;
  color: #444; }

.selectric-items li.highlighted {
  background: #D0D0D0;
  color: #444; }

.selectric-items li:hover {
  background: #D5D5D5;
  color: #444; }

.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  color: #444; }

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1; }

.selectric-items .selectric-group li {
  padding-left: 25px; }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto/roboto-light.woff2") format("woff2"), url("../fonts/roboto/roboto-light.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/roboto/roboto-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-regular.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/roboto-medium.woff2") format("woff2"), url("../fonts/roboto/roboto-medium.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-bold.woff2") format("woff2"), url("../fonts/roboto/roboto-bold.woff") format("woff"); }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
    font-size: 100%;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }
  blockquote::before, blockquote::after,
  q::before,
  q::after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
input,
textarea,
select,
button {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline; }
  a:hover, a:active, a:focus,
  input:hover,
  input:active,
  input:focus,
  textarea:hover,
  textarea:active,
  textarea:focus,
  select:hover,
  select:active,
  select:focus,
  button:hover,
  button:active,
  button:focus {
    outline: 0; }

.container, .container-full {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }

html,
body {
  margin: 0;
  padding: 0; }

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table; }

.clearfix::after {
  clear: both; }

.selectric .label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.section .flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

body {
  background: #fff;
  color: rgba(20, 22, 34, 0.87); }

a {
  background-color: transparent;
  color: rgba(20, 22, 34, 0.87);
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 1.4rem;
  line-height: 1.71429;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-weight: 400; }
  @media (min-width: 768px) {
    body {
      font-size: 1.4rem;
      line-height: 2; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-weight: 400; }

h4 {
  font-weight: 600; }

h1 {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 1.875em;
  margin-bottom: 0.625em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.8rem;
      line-height: 1.42857; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 3.2rem;
      line-height: 1.25; } }
  @media (min-width: 768px) {
    h1 {
      margin-top: 1.17857em;
      margin-bottom: 0.39286em; } }
  @media (min-width: 1200px) {
    h1 {
      margin-top: 1.03125em;
      margin-bottom: 0.34375em; } }

h2 {
  font-size: 2rem;
  line-height: 1.4;
  margin-top: 1.5em;
  margin-bottom: 0.5em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 2.8rem;
      line-height: 1; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 2.8rem; } }
  @media (min-width: 768px) {
    h2 {
      margin-top: 1.17857em;
      margin-bottom: 0.39286em; } }

h3 {
  font-size: 1.8rem;
  line-height: 1.33333;
  margin-top: 1.66667em;
  margin-bottom: 0.55556em; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.8rem;
      line-height: 1.33333; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 2.4rem;
      line-height: 1.33333; } }
  @media (min-width: 768px) {
    h3 {
      margin-top: 1.83333em;
      margin-bottom: 0.61111em; } }
  @media (min-width: 1200px) {
    h3 {
      margin-top: 1.375em;
      margin-bottom: 0.45833em; } }

h4 {
  font-size: 1.8rem;
  line-height: 1.33333;
  margin-top: 1.66667em;
  margin-bottom: 0.55556em; }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.8rem;
      line-height: 1.33333; } }
  @media (min-width: 768px) {
    h4 {
      margin-top: 1.83333em;
      margin-bottom: 0.61111em; } }

h5 {
  font-size: 1.4rem;
  line-height: 1.71429;
  margin-top: 2.14286em;
  margin-bottom: 0.71429em; }
  @media (min-width: 768px) {
    h5 {
      font-size: 1.4rem;
      line-height: 1.71429; } }
  @media (min-width: 768px) {
    h5 {
      margin-top: 2.35714em;
      margin-bottom: 0.78571em; } }

h6 {
  font-size: 1.4rem;
  line-height: 1.42857;
  margin-top: 2.14286em;
  margin-bottom: 0.71429em; }
  @media (min-width: 768px) {
    h6 {
      font-size: 1.4rem;
      line-height: 1.57143; } }
  @media (min-width: 768px) {
    h6 {
      margin-top: 2.35714em;
      margin-bottom: 0.78571em; } }

q,
blockquote {
  font-size: 2rem;
  line-height: 1.25; }
  @media (min-width: 768px) {
    q,
    blockquote {
      font-size: 2.4rem;
      line-height: 1.45833; } }

@media print {
  body {
    font-size: 12pt; }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.25; }
  h1 {
    font-size: 36pt; }
  h2 {
    font-size: 24pt; }
  h3 {
    font-size: 18pt; }
  h4 {
    font-size: 14pt; }
  h5 {
    font-size: 12pt; }
  h6 {
    font-size: 10.5pt; }
  q,
  blockquote {
    font-size: 24pt;
    line-height: 1.4583; } }

.container, .container-full {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }

html,
body {
  margin: 0;
  padding: 0; }

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table; }

.clearfix::after {
  clear: both; }

.selectric .label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.section .flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

@media (min-width: 544px) {
  .container {
    max-width: 100%; } }

@media (min-width: 768px) {
  .container {
    max-width: 77rem; } }

@media (min-width: 1024px) {
  .container {
    max-width: 102rem; } }

@media (min-width: 1200px) {
  .container {
    max-width: 108rem; } }

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1.2rem;
  margin-left: -1.2rem; }
  .row-reverse {
    flex-direction: row-reverse; }

.col {
  box-sizing: border-box;
  width: 100%;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }
  .col-reverse {
    flex-direction: column-reverse; }

@media (max-width: 1023px) {
  .container {
    padding-right: 2.4rem;
    padding-left: 2.4rem; }
    .container-full {
      padding-right: 2.4rem;
      padding-left: 2.4rem; }
  .row {
    margin-right: -0.96rem;
    margin-left: -0.96rem; }
  .col {
    padding-right: 0.96rem;
    padding-left: 0.96rem; } }

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.xs-offset-1 {
  margin-left: 8.33333%; }

.xs-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.xs-offset-2 {
  margin-left: 16.66667%; }

.xs-3 {
  flex-basis: 25%;
  max-width: 25%; }

.xs-offset-3 {
  margin-left: 25%; }

.xs-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.xs-offset-4 {
  margin-left: 33.33333%; }

.xs-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.xs-offset-5 {
  margin-left: 41.66667%; }

.xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

.xs-offset-6 {
  margin-left: 50%; }

.xs-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.xs-offset-7 {
  margin-left: 58.33333%; }

.xs-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.xs-offset-8 {
  margin-left: 66.66667%; }

.xs-9 {
  flex-basis: 75%;
  max-width: 75%; }

.xs-offset-9 {
  margin-left: 75%; }

.xs-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.xs-offset-10 {
  margin-left: 83.33333%; }

.xs-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.xs-offset-11 {
  margin-left: 91.66667%; }

.xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

.xs-offset-12 {
  margin-left: 100%; }

.start-xs {
  justify-content: flex-start;
  text-align: start; }

.end-xs {
  justify-content: flex-end;
  text-align: end; }

.around-xs {
  justify-content: space-around; }

.between-xs {
  justify-content: space-between; }

.center-xs {
  justify-content: center;
  text-align: center; }

.top-xs {
  align-items: flex-start; }

.middle-xs {
  align-items: center; }

.bottom-xs {
  align-items: flex-end; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media screen and (min-width: 544px) {
  .col-s {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .s-offset-0 {
    margin-left: 0; }
  .s-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .s-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .s-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .s-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .s-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .s-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .s-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .s-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .s-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .s-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .s-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .s-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .start-s {
    justify-content: flex-start;
    text-align: start; }
  .end-s {
    justify-content: flex-end;
    text-align: end; }
  .around-s {
    justify-content: space-around; }
  .between-s {
    justify-content: space-between; }
  .center-s {
    justify-content: center; }
  .top-s {
    align-items: flex-start; }
  .middle-s {
    align-items: center; }
  .bottom-s {
    align-items: flex-end; }
  .first-s {
    order: -1; }
  .last-s {
    order: 1; } }

@media screen and (min-width: 768px) {
  .col-m {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .m-offset-0 {
    margin-left: 0; }
  .m-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .m-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .m-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .m-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .m-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .m-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .m-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .m-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .m-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .m-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .m-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .m-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .start-m {
    justify-content: flex-start;
    text-align: start; }
  .end-m {
    justify-content: flex-end;
    text-align: end; }
  .around-m {
    justify-content: space-around; }
  .between-m {
    justify-content: space-between; }
  .center-m {
    justify-content: center; }
  .top-m {
    align-items: flex-start; }
  .middle-m {
    align-items: center; }
  .bottom-m {
    align-items: flex-end; }
  .first-m {
    order: -1; }
  .last-m {
    order: 1; } }

@media screen and (min-width: 1024px) {
  .col-l {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .l-offset-0 {
    margin-left: 0; }
  .l-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .l-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .l-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .l-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .l-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .l-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .l-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .l-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .l-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .l-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .l-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .l-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .start-l {
    justify-content: flex-start;
    text-align: start; }
  .end-l {
    justify-content: flex-end;
    text-align: end; }
  .around-l {
    justify-content: space-around; }
  .between-l {
    justify-content: space-between; }
  .center-l {
    justify-content: center; }
  .top-l {
    align-items: flex-start; }
  .middle-l {
    align-items: center; }
  .bottom-l {
    align-items: flex-end; }
  .first-l {
    order: -1; }
  .last-l {
    order: 1; } }

@media screen and (min-width: 1200px) {
  .col-xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .xl-offset-0 {
    margin-left: 0; }
  .xl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .xl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .xl-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .xl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .xl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .xl-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .xl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .xl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .xl-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .xl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .xl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .xl-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .start-xl {
    justify-content: flex-start;
    text-align: start; }
  .end-xl {
    justify-content: flex-end;
    text-align: end; }
  .around-xl {
    justify-content: space-around; }
  .between-xl {
    justify-content: space-between; }
  .center-xl {
    justify-content: center; }
  .top-xl {
    align-items: flex-start; }
  .middle-xl {
    align-items: center; }
  .bottom-xl {
    align-items: flex-end; }
  .first-xl {
    order: -1; }
  .last-xl {
    order: 1; } }

html {
  position: relative;
  min-height: 100%; }
  html body {
    height: 100%;
    min-height: .1rem; }

.wrapper {
  width: 100%; }

.overflow-hidden {
  overflow: hidden; }

.bazz-widget i:last-child {
  padding-top: 20px;
  font-size: 10px;
  font-weight: 400; }

input[type='tel'],
input[type='text'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='password'],
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  height: 4.8rem;
  padding: .6rem 1rem;
  border-width: 0;
  font-weight: 400; }

textarea {
  resize: none; }

label {
  font-weight: 400; }

.cta-form {
  min-height: 33.6rem; }
  .cta-form input[type='tel'],
  .cta-form input[type='text'],
  .cta-form input[type='email'],
  .cta-form input[type='number'],
  .cta-form input[type='search'],
  .cta-form input[type='password'],
  .cta-form textarea {
    display: block;
    padding: .5rem 0;
    border-bottom-width: .1rem;
    border-style: solid;
    border-color: rgba(20, 22, 34, 0.1); }
    .cta-form input[type='tel']:focus + .input-label,
    .cta-form input[type='text']:focus + .input-label,
    .cta-form input[type='email']:focus + .input-label,
    .cta-form input[type='number']:focus + .input-label,
    .cta-form input[type='search']:focus + .input-label,
    .cta-form input[type='password']:focus + .input-label,
    .cta-form textarea:focus + .input-label {
      bottom: 3rem; }
  .cta-form .input-field {
    position: relative;
    width: 100%;
    margin-bottom: 2.4rem;
    text-align: left; }
    .cta-form .input-field .input-label {
      position: absolute;
      bottom: .8rem;
      color: rgba(20, 22, 34, 0.87);
      opacity: .4;
      transition: all .2s;
      z-index: 1; }
      .cta-form .input-field .input-label.active {
        bottom: 3rem; }
  .cta-form .form-label + .fscf-div-clear {
    display: none; }

.selectric-wrapper {
  text-align: left; }
  .selectric-wrapper.selectric-hover .selectric, .selectric-wrapper.selectric-focus .selectric, .selectric-wrapper.selectric-open .selectric {
    border-color: rgba(20, 22, 34, 0.1); }

.selectric {
  height: 40px;
  border: 0;
  border-bottom: 0.1rem solid rgba(20, 22, 34, 0.1);
  background: transparent; }
  .selectric .label {
    max-width: calc(100% - 3.8rem);
    margin: 0 3.8rem 0 0;
    padding: 1.8rem 0 0;
    color: rgba(20, 22, 34, 0.87);
    font-size: 1.4rem;
    line-height: 1; }
  .selectric .button {
    top: .6rem;
    height: 4.2rem;
    background-color: transparent;
    line-height: 4.2rem; }
    .selectric .button::after {
      content: '';
      width: 1.8rem;
      height: 1.8rem;
      border: 0;
      background-image: url("../img/ic_arrow-down-dark.svg");
      background-repeat: no-repeat;
      background-size: contain; }

.selectric-items {
  padding: .6rem 0 1rem;
  border: 0;
  border-radius: .4rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16); }
  .selectric-items ul, .selectric-items li {
    min-height: auto;
    font-size: 1.4rem;
    line-height: 1; }
  .selectric-items li {
    padding: .6rem 1.6rem; }
  .selectric-items li.selected,
  .selectric-items li.highlighted,
  .selectric-items li:hover {
    background: transparent;
    color: rgba(20, 22, 34, 0.87); }

@media (min-width: 768px) {
  .selectric-items {
    background-color: rgba(255, 255, 255, 0.85); } }

.fscf-div-form {
  text-align: left; }
  .fscf-div-form form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }
    .fscf-div-form form + div.fscf-div-error,
    .fscf-div-form form #fscf_form_error1 {
      display: none; }

.fscf-div-clear {
  flex-basis: 100%;
  margin-bottom: 2rem; }
  .fscf-div-clear label {
    display: block;
    color: rgba(20, 22, 34, 0.87);
    opacity: .4;
    line-height: 1; }
  .fscf-div-clear#fscf_div_clear1_7, .fscf-div-clear#fscf_div_clear1_8 {
    display: none; }
  .fscf-div-clear#fscf_div_clear1_6 {
    margin-bottom: 1.4rem; }
  @media (min-width: 768px) {
    .fscf-div-clear {
      flex-basis: 50%; }
      .fscf-div-clear#fscf_div_clear1_0, .fscf-div-clear#fscf_div_clear1_4 {
        padding-right: 1.2rem; }
      .fscf-div-clear#fscf_div_clear1_1, .fscf-div-clear#fscf_div_clear1_5 {
        padding-left: 1.2rem; }
      .fscf-div-clear#fscf_div_clear1_6 {
        flex-basis: 100%; } }

.fscf-div-field {
  position: relative; }
  .fscf-div-field input {
    height: 3rem; }
  .fscf-div-field .fscf-div-error + input {
    border-bottom-color: #f44336; }

.fscf-div-error {
  position: absolute;
  top: calc(100% + .2rem);
  color: #f44336;
  font-size: 1.2rem;
  line-height: 1; }

.fscf-div-submit {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end; }

.fscf-button-submit {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 1.4rem 3.2rem 1.2rem;
  border: 0 none;
    border-radius: .2rem;
  outline: none 0;
  background: linear-gradient(180deg, #3490fe 0%, #0060e9 46.23%, #3490fe 100%);
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  transition: all 350ms ease-in-out 0s;
  user-select: none; }

.fscf-div-form + .fscf-div-clear {
  display: none; }

.fscf-div-redirecting {
  color: #141622;
  text-align: center; }

#fscf_redirect_word1 {
  display: none; }

.fscf-div-redirecting {
  color: #141622;
  text-align: center; }

.cta-form {
  min-height: 33.6rem; }

.close {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer; }

.btn {
  display: inline-block;
  width: 100%;
  border: 0 none;
    border-radius: .2rem;
  outline: none 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: all 350ms ease-in-out 0s;
  user-select: none; }
  .btn-primary {
    height: 4.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 4.8rem;
    background-color: #0069ff;
    color: #fff; }
    .btn-primary:hover {
      background-color: #3387ff; }
    @media (min-width: 1024px) {
      .btn-primary {
        background-color: transparent;
        color: #0069ff; }
        .btn-primary:hover {
          font-size: 1.5rem;
          background-color: transparent; } }
    .btn-primary.gradient {
      background: linear-gradient(180deg, #3490fe 0%, #0060e9 46.23%, #3490fe 100%); }
  .btn-bordered {
    padding: 1.8rem 8.7rem 1.6rem;
    border-width: .1rem;
    border-style: solid;
    border-color: #0069ff;
    background: #0069ff;
    color: #fff; }
    @media (min-width: 1024px) {
      .btn-bordered {
        border-width: .1rem;
        border-style: solid;
        border-color: #0069ff;
        background: transparent;
        color: #0069ff; }
        .btn-bordered:hover {
          border-color: #0069ff;
          background-color: #0069ff;
          color: #fff; } }
  .btn-transparent {
    background-color: transparent; }
  .btn-banded {
    width: 100%;
    padding: 0;
    margin-bottom: 1.6rem;
    border-width: .1rem;
    border-style: solid;
    line-height: 4.8rem;
    letter-spacing: 0.2px;
    background-color: rgba(255, 255, 255, 0.32); }
    .btn-banded.btn-telegram {
      border-color: #2DA4D8;
      color: #2DA4D8; }
    .btn-banded.btn-viber {
      border-color: #6F3FAA;
      color: #6F3FAA; }
    .btn-banded:hover {
      background-color: rgba(0, 0, 0, 0.2); }
    @media (min-width: 768px) {
      .btn-banded {
        width: 25.8rem; }
        .btn-banded.btn-telegram {
          margin-right: 2rem; } }
  .btn-text {
    padding: 0;
    background-color: transparent;
    color: #0069ff;
    line-height: 2.8rem; }
    .btn-text:hover {
      color: #3387ff; }

.btn-field {
  display: flex;
  justify-content: center; }

@keyframes modalFadeInDown-mobile {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(-50%); } }

@keyframes modalFadeInDown {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }

.modal {
  position: fixed;
  top: 50%;
  left: 2.4rem;
  right: 2.4rem;
  transform: translateY(-50%);
  z-index: 1050;
  animation: modalFadeInDown-mobile .45s both; }
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 22, 34, 0.4);
    z-index: 1040; }

@media (min-width: 544px) {
  .modal {
    left: 3.8rem;
    right: 3.8rem; } }

@media (min-width: 768px) {
  .modal {
    left: 50%;
    right: auto;
    width: 51.6rem;
    transform: translate(-50%, -50%);
    animation: modalFadeInDown .45s both; } }

.card {
  margin-bottom: 2.4rem;
  padding: 2.4rem;
  border-radius: .4rem;
  background: #fff;
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.24), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  text-align: center; }

@media (min-width: 1024px) {
  .card {
    padding: 2.4rem 1.6rem; } }

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5.6rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  z-index: 50; }
  .main-header .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
  .main-header .btn {
    width: 21rem; }

.nav-wrap {
  position: fixed;
  display: none;
  top: 5.6rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2.2rem 2.8rem 4rem;
  background: rgba(255, 255, 255, 0.95);
  overflow-y: auto; }

.nav-list a, .nav-list button {
  display: block; }

.nav-list-item {
  margin-bottom: 2rem; }

.nav-list .main-item {
  display: block;
  margin-bottom: .4rem;
  padding: .4rem 0;
  border-bottom: 0.1rem solid rgba(20, 22, 34, 0.1);
  font-size: 2rem;
  font-weight: 500; }
  .nav-list .main-item .icon-down {
    display: none; }

.page-activ .main-item {
  border-bottom: 0.2rem solid #0069ff; }

.sub-nav-list-item {
  padding: .4rem 0; }
  .sub-nav-list-item:hover {
    text-decoration: underline; }

@media (min-width: 768px) {
  .nav-wrap {
    padding: 4rem 9rem; }
  .nav-list-item {
    margin-bottom: 4rem; }
  .nav-list .main-item {
    margin-bottom: .8rem;
    padding: .8rem 0;
    font-size: 2.8rem; }
  .sub-nav-list-item {
    padding: .8rem 0;
    font-size: 1.8rem; } }

@media (min-width: 1024px) {
  .nav-wrap {
    position: static;
    display: block !important;
    padding: 0;
    background: transparent;
    overflow-y: inherit; }
  .nav-list {
    display: flex;
    align-items: center; }
    .nav-list-item {
      position: relative;
      margin: 0;
      padding: 1.4rem .8rem;
      cursor: pointer; }
      .nav-list-item:hover .sub-nav-list {
        opacity: 1;
        visibility: visible; }
    .nav-list .main-item {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      padding: 0;
      border-bottom: 0;
      font-size: 1.4rem;
      font-weight: 400; }
      .nav-list .main-item .icon-down {
        display: block;
        width: 1.6rem;
        margin-left: .3rem; }
    .nav-list .sub-nav-list {
      position: absolute;
      top: 5.6rem;
      left: -.8rem;
      padding: .8rem 1.6rem;
      border-radius: 0 0 .4rem .4rem;
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
      opacity: 0;
      visibility: hidden;
      transition: all 200ms;
      z-index: 1; }
      .nav-list .sub-nav-list-item {
        padding-top: 0;
        font-size: 1.4rem;
        line-height: 2.4rem;
        white-space: nowrap; }
  .page-activ {
    position: relative; }
    .page-activ:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0.8rem;
      right: 0.8rem;
      border-bottom: 0.2rem solid #0069ff; } }

.section {
  position: relative;
  padding-top: 3.2rem;
  background: #f7f7f7;
  z-index: 2; }
  .section .section-heading {
    position: relative;
    margin: 0 0 4.6rem;
    color: rgba(20, 22, 34, 0.87);
    font-weight: bold;
    text-align: center; }
    .section .section-heading::after {
      position: absolute;
      content: '';
      bottom: -1.2rem;
      left: 50%;
      width: 12rem;
      height: .2rem;
      border-radius: .1rem;
      background-color: #0069ff;
      transform: translate(-50%, 0); }
      @media (min-width: 768px) {
        .section .section-heading::after {
          bottom: -1.6rem; } }
  .section .second-heading {
    margin: 0;
    color: rgba(20, 22, 34, 0.87);
    font-weight: 600; }
  .section .arrow-down {
    width: 2.4rem;
    margin: 0 auto;
    opacity: 0;
    cursor: pointer;
    animation: blink 2s linear infinite 5s; }
  .section .list {
    margin-left: .8rem;
    padding-left: 1.6rem;
    list-style: disc; }
  .section .accent {
    font-weight: 500; }
  .section .col-inner {
    width: 100%; }

.main-equipment .section {
  background-color: #fff; }

@media (min-width: 768px) {
  .section {
    padding-top: 6rem; }
    .section .section-heading {
      margin: 0 0 5rem; }
    .section .second-heading {
      font-weight: 500; } }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.main-footer {
  position: relative;
  padding: 3.2rem 0 2.4rem;
  background: #30323e;
  color: #fff;
  z-index: 1; }
  .main-footer .footer-heading {
    margin: 0 0 1.2rem;
    opacity: .4;
    text-transform: uppercase; }
  .main-footer .footer-nav-list {
    margin-bottom: 2.4rem; }
    .main-footer .footer-nav-list-item {
      margin-bottom: 1.2rem; }
      .main-footer .footer-nav-list-item a {
        color: #fff; }
  .main-footer .copyright {
    color: #959595;
    text-align: center; }

.hamburger {
  display: inline-block;
  margin-top: .4rem;
  padding: .4rem;
  font-size: 0;
  cursor: pointer;
  transition: opacity, filter .15s linear; }
  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 1.8rem;
    height: 1.4rem; }
  .hamburger-inner {
    position: absolute;
    display: block;
    top: 0;
    width: 1.8rem;
    height: .2rem;
    background-color: rgba(20, 22, 34, 0.87);
    transition: background-color 0s .13s linear; }
    .hamburger-inner::before, .hamburger-inner::after {
      position: absolute;
      content: '';
      display: block;
      width: inherit;
      height: inherit;
      background-color: rgba(20, 22, 34, 0.87);
      transition: transform .15s ease; }
    .hamburger-inner::before {
      top: .6rem;
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger-inner::after {
      top: 1.2rem;
      bottom: -1rem;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger.is-active .hamburger-inner {
    background-color: transparent;
    transition-delay: .22s; }
    .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
      top: -.4rem; }
    .hamburger.is-active .hamburger-inner:before {
      transform: translate3d(0, 1rem, 0) rotate(45deg);
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger.is-active .hamburger-inner:after {
      transform: translate3d(0, 1rem, 0) rotate(-45deg);
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

.first-screen-home, .first-screen-equipment {
  margin-top: 0;
  padding: 1.8rem 0 0;
  background-repeat: no-repeat;
  color: #fff; }

.first-screen-home .main-heading, .first-screen-equipment .main-heading {
  margin-bottom: 1.6rem;
  font-weight: 600; }

.first-screen-home {
  height: 67rem;
  background-image: url(../img/mockups.jpg), url("../img/first-screen-bg.jpg");
  background-position: center bottom, center center;
  background-size: 85% auto, cover; }
  .first-screen-home .main-heading {
    margin-top: 7.8rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.87); }
  @media (min-width: 768px) {
    .first-screen-home {
      height: 64rem;
      background-image: url(../img/mockups.png), url("../img/first-screen-bg.jpg");
      background-position: 110% 85%, center center;
      background-size: 60%, cover;
      text-shadow: 0 4px 16px rgba(0, 0, 0, 0.64); }
      .first-screen-home .main-heading {
        width: 41.5%;
        margin-top: 14.2rem;
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: normal; }
        .first-screen-home .main-heading span {
          display: none; }
      .first-screen-home p {
        width: 41.5%;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: -0.3px; }
      .first-screen-home .btn-primary {
        width: 21.4rem;
        font-size: 1.2rem; } }
  @media (min-width: 1024px) {
    .first-screen-home {
      height: 72rem;
      background-position: 100% 85%, center center;
      background-size: 55%, cover; }
      .first-screen-home .main-heading {
        margin-top: 19.4rem;
        margin-bottom: 2.4rem;
        font-size: 2.4rem;
        line-height: 3.2rem; }
      .first-screen-home p {
        width: 43%;
        font-size: 1.8rem;
        line-height: 3.2rem;
        letter-spacing: normal; }
      .first-screen-home .btn-primary {
        margin-top: 3.2rem;
        height: 5.6rem;
        width: 28.6rem;
        font-size: 1.6rem;
        line-height: 5.6rem; } }

.first-screen-equipment {
  height: 57.8rem;
  background-image: url("../img/first-screen-bg-eq.png"), linear-gradient(to top left, #00cac2, #00a4d7);
  background-position: center bottom;
  background-size: 60% auto, cover; }
  .first-screen-equipment .main-heading {
    margin-top: 7rem;
    font-size: 2rem;
    line-height: 3.2rem; }
  .first-screen-equipment .btn-banded {
    margin-top: 1.6rem;
    border: 1px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 8px 0 rgba(38, 135, 251, 0.32), 0 7px 17px 0 rgba(0, 0, 0, 0.2);
    color: #fff; }
  @media (min-width: 544px) {
    .first-screen-equipment {
      background-size: 45% auto, cover;
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.24); }
      .first-screen-equipment .container {
        padding-right: 7.7rem;
        padding-left: 7.7rem; } }
  @media (min-width: 768px) {
    .first-screen-equipment {
      height: 94.4rem;
      background-size: 75% auto, cover; }
      .first-screen-equipment .main-heading {
        margin-top: 13.4rem;
        font-size: 3.2rem; }
      .first-screen-equipment p {
        font-size: 2rem;
        line-height: 3.2rem; } }
  @media (min-width: 1024px) {
    .first-screen-equipment {
      height: 64rem;
      background-size: auto, cover;
      background-position: 100% bottom; }
      .first-screen-equipment .container {
        padding-right: 1.2rem;
        padding-left: 1.2rem; }
      .first-screen-equipment .main-heading {
        margin: 20.2rem 0 2rem; }
      .first-screen-equipment p {
        width: 55.3rem; } }

.about {
  padding-bottom: 1.6rem;
  background: #30323e;
  color: rgba(255, 255, 255, 0.87); }
  .about iframe {
    width: 100%;
    height: 100%; }
  .about .section-heading {
    color: rgba(255, 255, 255, 0.87);
    font-size: 1.4rem;
    line-height: 2rem; }
    .about .section-heading::after {
      display: none; }
  .about .video-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 3.2rem;
    padding-bottom: 56.21%; }
    .about .video-wrapper .video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .about .description {
    color: rgba(255, 255, 255, 0.8); }

@media (min-width: 768px) {
  .about .section-heading {
    font-size: 2.8rem;
    line-height: 3.2rem; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .about .container {
    padding-right: 8.8rem;
    padding-left: 8.8rem; } }

@media (min-width: 768px) {
  .about .description {
    font-size: 1.8rem; } }

.call-me-block .heading {
  margin: 4.2rem 0 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  text-transform: uppercase; }

.call-me-block .input-field {
  margin-bottom: 1.6rem; }

.call-me-block .btn {
  width: 100%;
  margin-bottom: 1.6rem; }

@media (min-width: 768px) {
  .call-me-block {
    margin-bottom: 3.2rem; }
    .call-me-block .call-me {
      display: flex;
      max-width: 60rem;
      margin: 0 auto; }
    .call-me-block .input-field {
      flex-grow: 1;
      margin-right: 1.6rem; }
    .call-me-block .btn {
      width: auto; } }

.feature {
  margin-bottom: 4.8rem; }
  .feature-heading {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem; }
    .feature-heading .second-heading {
      font-size: 1.6rem; }
    .feature-heading .icon-block {
      min-width: 4.8rem;
      margin-right: .8rem; }
      .feature-heading .icon-block img {
        display: block; }

@media (min-width: 768px) {
  .feature-heading .second-heading {
    font-size: 1.8rem; } }

@media (min-width: 1024px) {
  .feature .icon-block {
    min-width: 6.4rem; }
  .feature .second-heading {
    font-size: 2rem; } }

.quick-start .section-heading {
  margin-bottom: 4.8rem; }

.quick-start .info-block {
  margin-bottom: 3.2rem;
  text-align: center; }
  .quick-start .info-block .second-heading {
    margin: 1.6rem 0 .8rem; }
  .quick-start .info-block .arrow {
    display: none; }
  .quick-start .info-block .btn-field {
    margin-top: 1.6rem; }

@media (min-width: 768px) {
  .quick-start .info-block {
    position: relative; }
    .quick-start .info-block .second-heading {
      margin: 2.4rem 0 1.6rem; }
    .quick-start .info-block .description {
      text-align: left; }
    .quick-start .info-block .arrow {
      position: absolute;
      display: block;
      top: 5.8rem;
      left: 100%;
      transform: translate(-50%, -50%); } }

@media (min-width: 1024px) {
  .quick-start .col .info-block {
    padding: 0 1.6rem; }
  .quick-start .col:first-child .info-block {
    padding-left: 0; }
  .quick-start .col:last-child .info-block {
    padding-right: 0; } }

.functional {
  padding-bottom: 4rem;
  color: rgba(20, 22, 34, 0.64); }
  .functional img {
    width: 100%; }
  .functional .row {
    padding-bottom: 4rem; }
    .functional .row:last-child {
      padding-bottom: 0; }
  .functional .second-heading {
    margin-bottom: .8rem; }
  .functional .btn-field {
    margin-top: 1.6rem; }

@media (min-width: 768px) {
  .functional .row {
    padding-bottom: 5.6rem; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .functional .flex-center {
    display: block;
    padding-top: 5.6rem; } }

@media (min-width: 1024px) {
  .functional .second-heading {
    margin-bottom: 1.6rem; } }

.prices .second-heading {
  margin-bottom: 2.4rem;
  text-align: center; }

.package {
  display: flex;
  flex-direction: column;
  min-height: 56rem;
  max-height: 56rem;
  max-width: 30.8rem;
  margin: 0 auto 2.4rem;
  text-align: center; }
  .package .package-name {
    margin: 0;
    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid rgba(20, 22, 34, 0.1); }
  .package .package-price {
    margin-bottom: 1.6rem;
    padding: 1.6rem 0;
    border-bottom: 0.1rem solid rgba(20, 22, 34, 0.1);
    color: rgba(20, 22, 34, 0.5);
    line-height: 1; }
    .package .package-price .price {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: .8rem;
      text-align: left; }
      .package .package-price .price .count {
        margin-right: .8rem;
        color: rgba(20, 22, 34, 0.87);
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 3.2rem; }
      .package .package-price .price .text {
        max-width: 10rem; }
  .package .package-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2; }
  .package .package-feature {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.8rem; }
    .package .package-feature.unavailable {
      opacity: .4; }

@media (min-width: 768px) {
  .prices {
    padding-right: 5.6rem;
    padding-left: 5.6rem; } }

@media (min-width: 1024px) {
  .package {
    padding: 2.4rem 1.4rem; } }

.map {
  padding-bottom: 4rem;
  text-align: center; }
  .map .second-heading {
    margin-bottom: .8rem; }
  .map .description {
    margin-bottom: 2.4rem;
    text-align: left; }

@media (min-width: 1024px) {
  .map .container {
    padding: 0 18rem; } }

.cta-section {
  padding: 4rem 0;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  .cta-section .section-heading {
    margin-bottom: 3.8rem;
    color: #fff; }
    .cta-section .section-heading::after {
      background: #fff; }
  .cta-section .second-heading {
    margin-bottom: .8rem;
    color: #fff; }
  .cta-section .count {
    display: block;
    margin-bottom: 2.4rem;
    -webkit-background-clip: text;
    background-image: linear-gradient(0deg, #6f6fef 0%, #3c87f3 100%);
    font-size: 4.4rem;
    line-height: 1;
    -webkit-text-fill-color: transparent; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cta-section .count {
      background-image: none;
      color: #3c87f3; } }
  .cta-section .description {
    margin-bottom: 4rem; }

.cta-form {
  width: 100%;
  margin-bottom: 0; }
  .cta-form .form-label {
    margin: 0 0 .8rem;
    color: #141622;
    font-weight: 700;
    text-align: left; }
  .cta-form .btn-field .btn {
    width: 100%;
    padding: 1.4rem 3.2rem 1.2rem; }

@media (min-width: 768px) {
  .cta-section {
    padding: 8rem 0; }
    .cta-section .second-heading {
      margin-bottom: 1.6rem; }
    .cta-section .description {
      margin-bottom: 4.8rem; }
    .cta-section .cta-row-wrapper .description {
      margin-bottom: 0; }
    .cta-section .cta-row-wrapper .col {
      display: flex;
      align-items: center; }
  .cta-form .btn-field {
    justify-content: flex-end; }
    .cta-form .btn-field .btn {
      width: auto; } }

@media (min-width: 1024px) {
  .cta-section {
    padding: 6.4rem 0; }
    .cta-section .section-heading {
      margin-bottom: 8rem; }
    .cta-section .second-heading {
      margin-bottom: 1.6rem; }
    .cta-section .description {
      margin-bottom: 8rem; }
    .cta-section .cta-row-wrapper {
      background-color: #0069ff; }
      .cta-section .cta-row-wrapper .cta-row {
        height: 28.8rem;
        min-height: 28.8rem; }
      .cta-section .cta-row-wrapper .cta-form-wrapper {
        position: relative; }
      .cta-section .cta-row-wrapper .cta-form {
        position: absolute;
        top: -2.4rem;
        left: 1.2rem;
        right: 1.2rem;
        bottom: -2.4rem; }
        .cta-section .cta-row-wrapper .cta-form .col {
          display: block; } }

.write-to-us {
  height: 32rem;
  background-image: url("../img/bg-write-to-us.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center; }
  .write-to-us .second-heading {
    padding: 2.4rem 0 4rem;
    font-size: 1.6rem;
    line-height: 2.4rem; }
    .write-to-us .second-heading span {
      display: block; }
  .write-to-us img {
    margin-right: 1.2rem; }

@media (min-width: 768px) {
  .write-to-us .second-heading {
    font-size: 2.4rem; }
    .write-to-us .second-heading span {
      display: inline; } }

.main-equipment p {
  margin-top: .8rem;
  margin-bottom: 1.6rem;
  letter-spacing: -0.6px;
  color: rgba(20, 22, 34, 0.64); }

.main-equipment .subtitle,
.main-equipment .saving {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 2.4rem;
  opacity: .8;
  color: #EB0080; }

.set-order {
  display: flex;
  justify-content: space-between; }
  .set-order .set-price {
    display: block;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3.2rem;
    opacity: .8; }
  .set-order .btn-primary {
    height: 3.2rem;
    width: 13.8rem;
    margin: 0;
    line-height: 3.2rem; }

@media (min-width: 768px) {
  .sets-equipment .section-heading {
    margin-bottom: 5.8rem; } }

@media (min-width: 1024px) {
  .sets-equipment .section-heading {
    margin-bottom: 7.4rem; } }

.set-equipment {
  margin-bottom: 2.4rem;
  padding: 1.6rem 0 2.4rem;
  border-radius: 4px;
  background-color: #F3F9FF;
  box-shadow: 0 2px 8px rgba(20, 22, 34, 0.08), 0 0 1px rgba(20, 22, 34, 0.4); }
  .set-equipment .image {
    height: 20rem;
    width: 100%;
    margin-bottom: .8rem;
    text-align: center; }
  .set-equipment .set-description,
  .set-equipment .set-order {
    margin: 0 1.6rem;
    text-align: left; }
  .set-equipment .card-name {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem; }
  @media (min-width: 544px) {
    .set-equipment {
      margin-right: 2.8rem;
      margin-left: 2.8rem;
      padding-left: 4rem;
      padding-right: 4rem; }
      .set-equipment .set-description,
      .set-equipment .set-order {
        margin: 0; }
      .set-equipment .set-order .btn-primary {
        width: 18rem;
        height: 4rem;
        letter-spacing: 0.6px; } }
  @media (min-width: 768px) {
    .set-equipment {
      margin-right: 3.2rem;
      margin-left: 3.2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .set-equipment .image {
        margin-bottom: 1.6rem; }
      .set-equipment .set-description {
        width: 34rem; }
      .set-equipment .set-order {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        text-align: right; }
        .set-equipment .set-order .set-price {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 2.4rem;
          letter-spacing: -0.4px; }
      .set-equipment p {
        margin-bottom: 0;
        letter-spacing: -0.1px;
        line-height: 2.4rem; } }
  @media (min-width: 1024px) {
    .set-equipment {
      margin-right: 0;
      margin-left: 0;
      padding-right: 2.4rem;
      padding-left: 2.4rem;
      height: 99%; }
      .set-equipment .card-name {
        font-size: 1.8rem; }
      .set-equipment .set-order .price-block {
        margin-right: 0.6rem; }
      .set-equipment .set-order .btn-primary {
        width: 9rem; } }

.equipment-item {
  padding-top: 1.6rem;
  padding-bottom: 3.2rem; }
  .equipment-item .image {
    text-align: center; }
  .equipment-item .card-name {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px; }

.hide {
  display: none !important; }
  @media (max-width: 543px) {
    .hide-xs {
      display: none !important; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .hide-s {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .hide-m {
      display: none !important; } }
  @media (min-width: 1024px) and (max-width: 1199px) {
    .hide-l {
      display: none !important; } }
  @media (min-width: 1200px) {
    .hide-xl {
      display: none !important; } }

.show {
  display: block !important; }
  .show-xs, .show-s, .show-m, .show-l, .show-xl {
    display: none !important; }
  @media (max-width: 543px) {
    .show-xs {
      display: block !important; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .show-s {
      display: block !important; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .show-m {
      display: block !important; } }
  @media (min-width: 1024px) and (max-width: 1199px) {
    .show-l {
      display: block !important; } }
  @media (min-width: 1200px) {
    .show-xl {
      display: block !important; } }

.hidden {
  opacity: 0 !important;
  visibility: hidden !important; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.overflow-hidden {
  overflow: hidden !important; }

.overflow-auto {
  overflow: auto !important; }

/*# sourceMappingURL=main.css.map */
