.about {
  padding-bottom: 1.6rem;
  background: $section-dark-bg;
  color: rgba($white, .87);

  iframe {
    width: 100%;
    height: 100%;
  }

  .section-heading {
    &::after {
      background-color: rgba($white, .87);
    }
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 3.2rem;
    padding-bottom: 56.21%;

    .video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .description {
    color: rgba($white, .8);
  }
}

@media (min-width: $medium-screen) {
  .about {

    @media (max-width: $large-screen) {
      .container {
        padding-right: 8.8rem;
        padding-left: 8.8rem;
      }
    }

    .description {
      font-size: 1.8rem;
    }
  }
}

@media (min-width: $large-screen) {

}