.section {
  position: relative;
  padding-top: 3.2rem;
  background: $section-light-bg;
  z-index: 2;

  .section-heading {
    position: relative;
    margin: 0 0 3.2rem;
    color: rgba($base-text, .87);
    text-align: center;

    &::after {
      position: absolute;
      content: '';
      top: calc(100% + 1.6rem);
      left: 50%;
      width: 12rem;
      height: .1rem;
      background-color: rgba($base-text, .87);
      transform: translate(-50%, 0);
    }
  }

  .second-heading {
    margin: 0;
    color: rgba($base-text, .87);
    font-weight: 400;
  }

  .arrow-down {
    width: 2.4rem;
    margin: 0 auto;
    opacity: 0;
    cursor: pointer;
    animation: blink 2s linear infinite 5s;
  }

  .btn-field {
    display: flex;
    justify-content: center;
  }

  .list {
    margin-left: .8rem;
    padding-left: 1.6rem;
    list-style: disc;
  }

  .accent {
    font-weight: 500;
  }

  .flex-center {
    @extend %flexCenter;
  }

  .col-inner {
    width: 100%;
  }
}


@media (min-width: $medium-screen) {
  .section {
    padding-top: 8rem;

    .section-heading {
      margin: 0 0 5rem;
    }
  }
}

@keyframes blink {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
