.cta-section {
  padding: 4rem 0;
  background-color: rgba(#30323E, .8);
  color: $white;

  .section-heading {
    margin-bottom: 3.8rem;
    color: $white;

    &::after {
      background: $white;
    }
  }

  .second-heading {
    margin-bottom: .8rem;
    color: $white;
  }

  .count {
    display: block;
    margin-bottom: 2.4rem;
    -webkit-background-clip: text;
    background-image: linear-gradient(0deg, $text-gradient-1 0%, $text-gradient-2 100%);
    font-size: 4.4rem;
    line-height: 1;
    -webkit-text-fill-color: transparent;
  }

  .description {
    margin-bottom: 4rem;
  }
}

.cta-form {
  width: 100%;
  margin-bottom: 0;

  .form-label {
    margin: 0 0 .8rem;
    color: $base-text;
    text-align: left;
  }

  .btn-field {
    .btn {
      width: 100%;
    }
  }
}

@media (min-width: $medium-screen) {
  .cta-section {
    padding: 8rem 0;

    .second-heading {
      margin-bottom: 1.6rem;
    }

    .description {
      margin-bottom: 4.8rem;
    }

    .cta-row-wrapper {
      .description {
        margin-bottom: 0;
      }

      .col {
        display: flex;
        align-items: center;
      }
    }
  }

  .cta-form {
    .btn-field {
      justify-content: flex-end;

      .btn {
        width: auto;
      }
    }
  }
}

@media (min-width: $large-screen) {
  .cta-section {
    padding: 6.4rem 0;

    .section-heading {
      margin-bottom: 8rem;
    }

    .second-heading {
      margin-bottom: 1.6rem;
    }

    .description {
      margin-bottom: 8rem;
    }

    .cta-row-wrapper {
      background-color: $cta-row-bg;

      .cta-row {
        min-height: 28.8rem;
      }

      .cta-form-wrapper {
        position: relative;
      }

      .cta-form {
        position: absolute;
        top: -2.4rem;
        left: 1.2rem;
        right: 1.2rem;
        bottom: -2.4rem;

        .col {
          display: block;
        }
      }
    }
  }

  .cta-form {
    .form-label {
      margin: 0;
    }
  }
}
