.first-screen {
  height: 48rem;
  margin-top: 0;
  padding: 1.8rem 0 0;
  background: {
    image: url('../img/first-screen-bg.jpg');
    repeat: no-repeat;
    position: center center;
    size: cover;
  };

  .main-heading {
    margin: 0 0 4rem;
    color: $main-heading;
    font-weight: 600;
    text-align: center;
  }

  img {
    width: 95%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
}

@media (min-width: $medium-screen) {
  .first-screen {
    height: 64rem;
    img {
      width: 85.4%;
    }
  }
}

@media (min-width: $large-screen) {
  .first-screen {
    padding: 6.4rem 0 0;
    background: {
      image: url('../img/first-screen-bg.jpg');
    };

    .main-heading {
      padding: 0 9rem;
      font-weight: 500;
    }
    img {
      width: 83%;
    }
  }
}

@media (min-width: $xlarge-screen) {
  .first-screen {
    .main-heading {
      padding: 0;
      width: 83%;
    }
  }
}
