
.first-screen-eq {
  height: 100vh;
  margin-top: 0;
  background: {
      image: url('../img/first-screen-bg-eq.jpg');
  };
  color: $main-heading;
}

@media (min-width: $large-screen) {
  .first-screen-eq {
  	background: {
      image: url('../img/first-screen-bg-eq.jpg');
  	};
  }
}