%first-screen {
  margin-top: 0;
  padding: 1.8rem 0 0;
  background-repeat: no-repeat;
  color: $white;
}

%main-heading {
  margin-bottom: 1.6rem;
  font-weight: 600;
}

.first-screen-home {
  @extend %first-screen;
  background: {
    image: url('../img/first-screen-bg.jpg');
    position: center center;
    size: cover;
  };

  .main-heading {
    @extend %main-heading;
    margin-top: 7.8rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: -0.5px;
    color: $main-heading;
  }

  p {
    opacity: 0.8;
  }

  .btn-primary {
    margin-top: 0.8rem;
    margin-bottom: 4rem;
    font-size: 1.2rem;
    width: 100%;
    padding: 1.5rem 7.1rem 1.3rem;

    @media (min-width: $small-screen) {
      display: block;
      padding: 1.5rem 2.7rem 1.3rem;
      margin: 1.6rem auto 2rem;
      width: auto;
    }
  }

  @media (min-width: $medium-screen) {
    height: 64rem;
    background: {
      image: url(../img/bg.png);
    };
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.64);

    .main-heading {
      width: 41.5%;
      margin-top: 14.2rem;
      font-size: 2rem;
      line-height: 2.8rem;
      letter-spacing: normal;

      span {
        display: none;
      }
    }

    p {
      width: 41.5%;
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: -0.3px;
    }

    .btn-primary {
      display: inline-block;
      margin-bottom: 0;
    }

    .image {
      display: none;
    }
  }

  @media (min-width: $large-screen) {
    height: auto;

    .main-heading {
      margin-top: 19.4rem;
      margin-bottom: 2.4rem;
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    p {
      width: 43%;
      font-size: 1.8rem;
      line-height: 3.2rem;
      letter-spacing: normal;
    }

    .btn-primary {
      margin: 3.2rem 0;
      padding: 2.1rem 2.4rem 1.9rem;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}

.first-screen-equipment {
  @extend %first-screen;
  background: {
    image: linear-gradient(to top left, #00cac2, #00a4d7);
  };

  .main-heading {
    @extend %main-heading;
    margin-top: 7rem;
    font-size: 2rem;
    line-height: 3.2rem;
    text-transform: uppercase;
  }

  .main-description {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 20px;
    color: $white;
  }

  .btn-banded {
    margin-bottom: 3.8rem;
    padding: 1.4rem 4.9rem 1.2rem;
    border-color: $white;
    background-color: rgba(255,255,255,0.24);
    box-shadow: 0 4px 8px 0 rgba(38,135,251,0.32), 0 7px 17px 0 rgba(0,0,0,0.2);
    font-size: 1.2rem;
    color: $white;
  }

  .first-screen-image img {
    position: relative;
    left: -20%;
  }

  @media (min-width: $small-screen) {
    text-shadow: 0 1px 4px rgba(0, 0, 0, .24);

    .btn-banded {
      margin-top: 2rem;
      margin-bottom: 3rem;
      width: auto;
    }
  }

  @media (min-width: $medium-screen) {
    
    .main-heading {
      margin-top: 13.4rem;
      font-size: 3.2rem;
      line-height: 3.8rem;
    }

    .main-description {
      font-size: 2rem;
      font-weight: 400;
      line-height: 3.2rem;
      letter-spacing: -0.1px;
    }

    .btn-banded {
      margin-top: 4.5rem;
      margin-bottom: 4.5rem;
    }

    @media (max-width: $large-screen-down) {
      .container.narrow-content {
        padding-left: 3.4rem;
        padding-right: 3.4rem;
      }
    }
  }
  @media (min-width: $large-screen) {

    .first-screen-image {
      display: none;
    }

    .container {
      padding-top: 2.4rem;
      padding-right: 1.2rem;
      padding-left: 1.2rem;
      box-sizing: border-box;
      background-image: url(../img/terminal.png);
      background-repeat: no-repeat;
      background-position: right bottom;
    }

    .main-heading {
      margin: 18.8rem 0 2rem;
    }
    
    .main-description {
      width: 50rem;
    }

    .btn-banded {
      margin-top: 0;
      margin-bottom: 13.8rem;
    }
  }

  @media (min-width: $xlarge-screen) {
    .container.narrow-content {
      max-width: 105.6rem;
      padding-right: 4.8rem;
      padding-left: 4.8rem;
    }

    .main-description {
      width: 55.3rem;
    }
  }
}
