@import '../utilities/variables';

.main-footer {
  position: relative;
  padding: 3.2rem 0 2.4rem;
  background: $footer-bg;
  color: $white;
  z-index: 1;

  .footer-heading {
    margin: 0 0 1.2rem;
    opacity: .4;
    text-transform: uppercase;
  }

  .footer-nav-list {
    margin-bottom: 2.4rem;

    &-item {
      margin-bottom: 1.2rem;

      a {
        color: $white;
      }
    }
  }

  .copyright {
    color: $copyright-color;
    text-align: center;
  }
}
