.functional {
  padding-bottom: 4rem;
  color: rgba($base-text, .64);

  img {
    width: 100%;
  }

  .row {
    padding-bottom: 4rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .second-heading {
    margin-bottom: .8rem;
  }

  .btn-field {
    margin-top: 1.6rem;
  }

  @media (min-width: $small-screen) {
    .btn-bordered,
    .btn-color-mobile {
      width: 21.4rem;
    }
  }
}

@media (min-width: $medium-screen) {
  .functional {
    .row {
      padding-bottom: 5.6rem;
    }

    .btn-bordered,
    .btn-color-mobile {
      width: 30.8rem;
    }
  }
}

@media (min-width: $medium-screen) and (max-width: $large-screen) {
  .functional {
    .flex-center {
      display: block;
      padding-top: 5.6rem;
    }
  }
}

@media (min-width: $large-screen) {
  .functional {
    .second-heading {
      margin-bottom: 1.6rem;
    }
  }
}
