.functional {
  color: rgba($base-text, .64);

  .row {
    padding-bottom: 4rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .second-heading {
    margin-bottom: 1.6rem;
  }

  .btn-field {
    margin-top: 1.6rem;
  }
}

@media (min-width: $medium-screen) {
  .functional {
    .row {
      padding-bottom: 5.6rem;
    }
  }
}
