.map {
  padding: 5.6rem 0 4rem;
  text-align: center;

  .second-heading {
    margin-bottom: .8rem;
  }

  .description {
    margin-bottom: 2.4rem;
    text-align: left;
  }
}

@media (min-width: $large-screen) {
  .map {
    .description {
      padding: 0 18rem;
    }
  }
}
