.quick-start {

  .section-heading {
    margin-bottom: 4.8rem;
  }

  .info-block {
    margin-bottom: 3.2rem;
    text-align: center;

    .second-heading {
      margin: 1.6rem 0 .8rem;
    }

    .description {
      text-align: left;
    }

    .arrow {
      display: none;
    }

    .btn-field {
      margin-top: 1.6rem;
    }

    @media (min-width: $small-screen) {
      .btn-color-mobile {
        width: 21.4rem;
      }
    }
  }
}

@media (min-width: $medium-screen) {
  .quick-start {

    .info-block {
      position: relative;

      .second-heading {
        margin: 2.4rem 0 1.6rem;
      }

      .description {
        text-align: left;
      }

      .arrow {
        position: absolute;
        display: block;
        top: 5.8rem;
        left: 100%;
        transform: translate(-50%, -50%);
      }

      .btn-color-mobile {
        width: 100%;
      }
    }
  }
}

@media (min-width: $large-screen) {
  .quick-start {

    .col {
      .info-block {
        padding: 0 1.6rem;
      }

      &:first-child {
        .info-block {
          padding-left: 0;
        }
      }

      &:last-child {
        .info-block {
          padding-right: 0;
        }
      }
    }
  }
}
